/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* End of Reset */

@font-face {
    font-family: "norse-bold";
    src:
        url("fonts/norse-bold-webfont.woff2") format("woff2"),
        url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
}

a {
    color: inherit;
}

.left-image-container {
    background-image: url("/images/background-image.jpg");
    background-size: cover;
    background-position: right 0px top;
    height: 100vh;
    width: 520px;
    min-width: 390px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-image-container>.logo-bar {
    margin-top: 190px;
    width: 100%;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-bar>p {
    font-family: "norse-bold";
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
}

.left-image-container>footer {
    margin-top: auto;
    margin-bottom: 10px;
    color: white;
}


.right-form-body {
    background-color: rgb(238, 238, 238);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-bottom: 44px;
}

.CTA {
    width: 80%;
    font-weight: 800;
    padding-left: 140px;
    margin-bottom: 40px;
}

.CTA>p {
    padding: 0;
    width: 59ch;
    font-size: 1.3em;
}

.CTA> :nth-child(even) {
    margin-top: 15px;
}

.form-body {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    padding-left: 140px;
    padding-top: 30px;
    padding-bottom: 40px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(3px 5px 5px rgb(202, 202, 202));
}

.form-body legend {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.inner-form-flexbox {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    width: 300px;
    margin-bottom: 10px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.container input {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.container input:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; 
}

.container input:focus {
    border: 1px solid rgb(99, 184, 212);
    color: lightblue;
    box-shadow: #868686; 
}

.container label {
    margin-bottom: 5px;
}

.submit-button {
    padding-left: 140px;
}

.submit-button button {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #968942;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    margin-bottom: 18px;
    cursor: pointer;
    filter: drop-shadow(0px 5px 5px rgb(146, 146, 146));
}

.submit-button button:hover {
    background-color: #b6af8a;
}

.submit-button button:active {
    background-color: #685e24;
}